jupyter
notebook
ipykernel

langchain
langchain-community
langchain-openai
langchain-text-splitters

openai

pypdf
docx2txt
unstructured
python-docx

qdrant-client

pandas
numpy
pyyaml
python-dotenv
tqdm
rich